.zvale-header-box{
  width: 100%;
  background: #fff;
}

.zvale-header {
  min-width: 1210px;
  max-width: 1500px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between
}

.zvale-logo {
  height: 50px;
  margin: 5px;
  overflow: hidden;
}

.zvale-logo-image{
  height: 50px;
  cursor: pointer;
}

.zvale-logo-text{
  font-size: 22px;
  color: #212121;
  line-height: 50px;
  cursor: pointer;
}

.zvale-nav {
  max-width: 900px;
  height: 60px;
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  line-height: 60px;
  transition: all 0.5s
}

.zvale-nav li {
  text-align: center;
  font-size: 16px;
  color: #212121;
  margin: 0 10px;
  padding: 0 10px;
  cursor: pointer
}
